@import "font.css";
@import "variables.css";

body {
  background-color: var(--dm-grey-600);
  color: var(--dm-grey-200);
  font: 400 16px "Roboto Mono", monospace;
  margin: var(--m-0);
}

a, 
a:visited {
  color: var(--tertiary-200);
}

a:hover { text-decoration: none; }

h1, 
h2 {
  color: var(--dm-grey-100);
  font-size: 20px;
  text-transform: uppercase;
  margin-top: var(--m-0);
}

h1 { 
  display: flex;
  margin-bottom: var(--m-8); 
}

h1:after,
h2:last-child:after {
  content: "///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
  display: inline-block;
  width: 60vw;
  overflow: hidden;
  margin-left: auto;
  color: var(--dm-grey-400);
}

@media screen and (min-width: 1350px) {
  h1:after,
  h2:last-child:after { 
    width: 70vw; 
  }
}

@media screen and (max-width: 1000px) {
  h1:after,
  h2:last-child:after { 
    width: 50vw; 
  }
}

h2:last-child { 
  display: flex;
  margin-top: var(--m-8); 
  margin-bottom: var(--m-0);
}

.branch h2    { 
  font-size: 16px; 
  margin-bottom: var(--m-5);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--p-11) * 2);
  padding: var(--p-11) var(--p-12);
  overflow: auto;
}

.branches { 
  display: grid; 
  grid-template-columns: auto auto auto auto;
  column-gap: var(--m-8);
  row-gap: var(--m-8);
}

@media screen and (max-width: 1120px) {
  .branches { grid-template-columns: auto auto auto; }
}

@media screen and (max-width: 600px) {
  .branches { grid-template-columns: auto auto; }
}

