:root {
  /* Colors */
  --dm-grey-100: #F0F4FF;
  --dm-grey-200: #DDE4FD;
  --dm-grey-300: #B8C5F7;
  --dm-grey-400: #6B79AB;
  --dm-grey-500: #4E5C8F;
  --dm-grey-600: #394570;
  --dm-grey-700: #2D385E;
  --dm-grey-800: #212A4B;
  --dm-grey-900: #161C33;
  --tertiary-50: #F0FDFA;
  --tertiary-100: #CCFBF1;
  --tertiary-200: #99F6E4;
  --tertiary-300: #70EDD9;
  --tertiary-400: #4AD6C9;
  --tertiary-500: #14B8A6;
  --tertiary-600: #0D9488;
  --tertiary-700: #0F766E;
  --tertiary-800: #115E59;
  --tertiary-900: #134E4A;
  /* Margin utilities */
  --m-0: 0;
  --m-1: 0.25rem;
  --m-2: 0.375rem;
  --m-3: 0.5rem;
  --m-4: 0.75rem;
  --m-5: 1rem;
  --m-6: 1.5rem;
  --m-7: 2rem;
  --m-8: 3rem;
  /* Padding utilities */
  --p-0: 0;
  --p-1: 0.25rem;
  --p-2: 0.375rem;
  --p-3: 0.5rem;
  --p-4: 0.75rem;
  --p-5: 1rem;
  --p-6: 1.5rem;
  --p-7: 2rem;
  --p-8: 2.5rem;
  --p-9: 3rem;
  --p-10: 4rem;
  --p-11: 5rem;
  --p-12: 6rem;
}
